<div id="<%= dom_id history_log %>" class="border-box border-4 p-4 m-4">
  <p class="my-5">
    <strong class="block font-medium mb-1">From:</strong>
    <%= history_log.from %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">To:</strong>
    <%= history_log.to %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= history_log.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Result:</strong>
    <%= history_log.result %>
  </p>

  
</div>
